@import 'tailwindcss';
@import 'veltify';

@source '../node_modules/veltify/dist';

.button .base-icon {
    width: 1rem;
    height: 1rem;
}

td {
    border-bottom: 1px solid var(--color-base-300);
}

td.w-0 {
    width: 0;
}

/* THEMES */
/* DEFAULT THEME */
[data-theme="default"] {
    --color-base-100: hsl(0 0% 96.08%);
    --color-base-200: hsl(0 0% 100%);
    --color-base-300: hsl(220 13.04% 90.98%);
    --color-content: hsl(215 27.91% 16.86%);
    --color-primary: hsl(201.3 96.3% 32.2%);
    --color-primary-content: hsl(0 0% 100%);
    --color-primary-hover: hsl(201 90% 27.5%);
}

.dark [data-theme="default"] {
    --color-base-100: hsl(214.74 30.16% 12.35%);
    --color-base-200: hsl(215 27.91% 16.86%);
    --color-base-300: hsl(216 27.56% 24.9%);
    --color-content: hsl(0 0% 98%);
    --color-primary: hsl(198.6 88.7% 48.4%);
    --color-primary-content: hsl(0 0% 100%);
    --color-primary-hover: hsl(204 80.2% 19.9%);
}

/* Brown */
[data-theme="brown"] {
    --color-base-100: hsl(0 0% 96.08%);
    --color-base-200: hsl(0 0% 100%);
    --color-base-300: hsl(220 13.04% 85.98%);
    --color-base-400: hsl(216 5.88% 66.67%);
    --color-content: hsl(215 27.91% 16.86%);
    --color-muted: hsl(210 11.88% 39.61%);
    --color-primary: hsl(28, 94%, 31%);
    --color-primary-content: hsl(0 0% 100%);
    --color-primary-hover: hsl(28, 90%, 25%);
}

.dark [data-theme="brown"] {
    --color-base-100: hsl(0 0% 2%);
    --color-base-200: hsl(0 0% 4%);
    --color-base-300: hsl(0 0% 10%);
    --color-base-400: hsl(0 0% 15%);
    --color-content: hsl(0 0% 100%);
    --color-muted: hsl(0 0 49%);
    --color-primary: hsl(24, 100%, 40%);
    --color-primary-hover: hsl(18 100% 48%);
    --color-primary-content: hsl(0 0% 100%);
}

/* Blue Dark */
.dark [data-theme="blue"] {
    --color-base-100: hsl(220, 13%, 10%);
    --color-base-200: hsl(220, 13%, 15%);
    --color-base-300: hsl(220, 13%, 25%);
    --color-base-400: hsl(220, 13%, 30%);
    --color-content: hsl(220, 13%, 95%);
    --color-muted: hsl(220, 13%, 65%);
    --color-primary: hsl(217, 91%, 60%);
    --color-primary-hover: hsl(217, 91%, 70%);
    --color-primary-content: hsl(0, 0%, 0%);
    --color-danger: hsl(0, 91%, 60%);
    --color-danger-hover: hsl(0, 91%, 70%);
    --color-danger-content: hsl(0, 0%, 100%);
}

/* Blue Light */
[data-theme="blue"] {
    --color-base-100: hsl(220, 13%, 90%);
    --color-base-200: hsl(220, 13%, 95%);
    --color-base-300: hsl(220, 13%, 80%);
    --color-base-400: hsl(220, 13%, 75%);
    --color-content: hsl(220, 13%, 10%);
    --color-muted: hsl(220, 13%, 40%);
    --color-primary: hsl(217, 91%, 60%);
    --color-primary-hover: hsl(217, 91%, 50%);
    --color-primary-content: hsl(0, 0%, 100%);
    --color-danger: hsl(0, 91%, 60%);
    --color-danger-hover: hsl(0, 91%, 50%);
    --color-danger-content: hsl(0, 0%, 100%);
}

/* Green Dark */
.dark [data-theme="green"] {
    --color-base-100: hsl(160, 6%, 10%);
    --color-base-200: hsl(160, 13%, 15%);
    --color-base-300: hsl(160, 13%, 25%);
    --color-base-400: hsl(160, 13%, 30%);
    --color-content: hsl(160, 13%, 95%);
    --color-muted: hsl(160, 13%, 65%);
    --color-primary: hsl(142, 71%, 45%);
    --color-primary-hover: hsl(142, 71%, 55%);
    --color-primary-content: hsl(0, 0%, 0%);
    --color-danger: hsl(0, 91%, 60%);
    --color-danger-hover: hsl(0, 91%, 70%);
    --color-danger-content: hsl(0, 0%, 100%);
}

/* Green Light */
[data-theme="green"] {
    --color-base-100: hsl(160, 13%, 90%);
    --color-base-200: hsl(160, 13%, 95%);
    --color-base-300: hsl(160, 13%, 80%);
    --color-base-400: hsl(160, 13%, 75%);
    --color-content: hsl(160, 13%, 10%);
    --color-muted: hsl(160, 13%, 40%);
    --color-primary: hsl(142, 71%, 45%);
    --color-primary-hover: hsl(142, 71%, 35%);
    --color-primary-content: hsl(0, 0%, 0%);
    --color-danger: hsl(0, 91%, 60%);
    --color-danger-hover: hsl(0, 91%, 50%);
    --color-danger-content: hsl(0, 0%, 100%);
}

/* Purple Dark */
.dark [data-theme="purple"] {
    --color-base-100: hsl(270, 13%, 10%);
    --color-base-200: hsl(270, 13%, 15%);
    --color-base-300: hsl(270, 13%, 25%);
    --color-base-400: hsl(270, 13%, 30%);
    --color-content: hsl(270, 13%, 95%);
    --color-muted: hsl(270, 13%, 65%);
    --color-primary: hsl(267, 83%, 60%);
    --color-primary-hover: hsl(267, 83%, 70%);
    --color-primary-content: hsl(0, 0%, 100%);
    --color-danger: hsl(0, 91%, 60%);
    --color-danger-hover: hsl(0, 91%, 70%);
    --color-danger-content: hsl(0, 0%, 100%);
}

/* Purple Light */
[data-theme="purple"] {
    --color-base-100: hsl(270, 13%, 90%);
    --color-base-200: hsl(270, 13%, 95%);
    --color-base-300: hsl(270, 13%, 80%);
    --color-base-400: hsl(270, 13%, 75%);
    --color-content: hsl(270, 13%, 10%);
    --color-muted: hsl(270, 13%, 40%);
    --color-primary: hsl(267, 83%, 60%);
    --color-primary-hover: hsl(267, 83%, 50%);
    --color-primary-content: hsl(0, 0%, 100%);
    --color-danger: hsl(0, 91%, 60%);
    --color-danger-hover: hsl(0, 91%, 50%);
    --color-danger-content: hsl(0, 0%, 100%);
}

/* Black/White Dark */
.dark [data-theme="bw"] {
    --color-base-100: hsl(0, 0%, 10%);
    --color-base-200: hsl(0, 0%, 15%);
    --color-base-300: hsl(0, 0%, 25%);
    --color-base-400: hsl(0, 0%, 30%);
    --color-content: hsl(0, 0%, 95%);
    --color-muted: hsl(0, 0%, 65%);
    --color-primary: hsl(0, 0%, 60%);
    --color-primary-hover: hsl(0, 0%, 70%);
    --color-primary-content: hsl(0, 0%, 0%);
    --color-danger: hsl(0, 91%, 60%);
    --color-danger-hover: hsl(0, 91%, 70%);
    --color-danger-content: hsl(0, 0%, 100%);
}

/* Black/White Light */
[data-theme="bw"] {
    --color-base-100: hsl(0, 0%, 90%);
    --color-base-200: hsl(0, 0%, 95%);
    --color-base-300: hsl(0, 0%, 80%);
    --color-base-400: hsl(0, 0%, 75%);
    --color-content: hsl(0, 0%, 10%);
    --color-muted: hsl(0, 0%, 40%);
    --color-primary: hsl(0, 0%, 30%);
    --color-primary-hover: hsl(0, 0%, 20%);
    --color-primary-content: hsl(0, 0%, 100%);
    --color-danger: hsl(0, 91%, 60%);
    --color-danger-hover: hsl(0, 91%, 50%);
    --color-danger-content: hsl(0, 0%, 100%);
}